{% extends 'base.html' %}

{% block titulo%} Produtos {% endblock %}

{% block cards %}    {% endblock %}

{% block titulo_page %} Listagem de Produtos {% endblock %}

{% block conteudo%} 

<button class="btn btn-primary"  onclick="location.href='{% url 'form_categoria' %}'">Novo Produto</button>
<button class="btn btn-primary"  onclick="location.href='{% url 'categoria' %}'">Recarregar</button>

<br>
<br>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Descrição</th>
            <th scope="col">Ordem</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in lista %}
        
        <tr>
            <td> {{categoria.id}}</td>
            <td> {{categoria.nome}}</td>
            <td>{{categoria.ordem}}</td>
            <td>
                <button class="btn btn-primary"  onclick="location='{% url 'detalhes_categoria' categoria.id%}'">Detalhes</button>
                <button class="btn btn-warning"  onclick="location='{% url 'editar_categoria' categoria.id %}'">Alterar</button>
                <button class="btn btn-danger" onclick="confirmarExclusao(event, '{{ categoria.id }}'); return false;">Excluir</button>
            </td>
        </tr>
        {% endfor %}
      
    </tbody>
</table>


<script>
    function confirmarExclusao(event, id) {
        if (confirm('Tem certeza que deseja excluir esta categoria?')) {
            // Realiza a requisição AJAX para excluir o item
            fetch(`/categoria/excluir/${id}/`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',  // Envio do CSRF token corretamente
                    'Content-Type': 'application/json',  // Garantir que o Django receba o tipo correto
                },
            })
            .then(response => {
                if (response.ok) {
                    // Se a exclusão foi bem-sucedida, removemos a linha da tabela
                    event.target.closest('tr').remove();  // Remove a linha do produto da tabela
                } else {
                    alert('Erro ao excluir a categoria!');
                }
            })
            .catch(error => {
                console.error('Erro:', error);
                alert('Ocorreu um erro ao excluir a categoria!');
            });
        }
    }

    
</script>

{% endblock %}