{% extends "base.html" %}

{% block titulo_conteudo %} Listagem de Produtos {% endblock titulo_conteudo %}

{% block conteudo %} 

<div class="barrabotoes">
<button onClick="location='{% url "form_produto" %}'" type="button" class="btn btn-primary btn-sm">Inserir Novo</button>
<button onClick="location='{% url "produto" %}'" type="button" class="btn btn-primary btn-sm">Recarregar</button>
</div>

<style>
  .table-hover tbody tr {
    height: 60px; /* Define a altura das linhas */
  }
  .table-hover img {
    max-width: 50px;
    max-height: 50px;
  }
  .table-hover td, .table-hover th {
    vertical-align: middle; /* Alinha verticalmente */
    text-align: center; /* Centraliza o texto */
  }
  .table-hover td:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%; /* Garante que o conteúdo ocupe toda a altura */
  }
  .table-hover td:last-child button,
  .table-hover td:last-child a,
  .table-hover td:last-child form {
    margin: 0; /* Remove margens extras */
    display: flex;
    align-items: center; /* Centraliza os botões */
    height: 60px; /* Define um tamanho uniforme para os botões */
  }
</style>

<table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>#</th>
        <th>Nome</th>
        <th>Preço(R$)</th>
        <th>Categoria</th>
        <th>Qtde</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
    {% for produto in lista %}
      <tr>
        <td>{{ produto.id }}</td>
        <td><img src="{{ produto.img_base64 }}" class="img-fluid"></td>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.preco }}</td>
        <td>{{ produto.categoria }}</td>
        <td>{{ produto.estoque.qtde }}</td>
        <td>
          <button onclick="location='{% url 'detalhes_produto' produto.id %}'" class="btn btn-info btn-sm">Detalhes</button>
          <a href="{% url 'ajustar_estoque' produto.id %}" class="btn btn-success btn-sm">Estoque</a>
          <a href="{% url 'editar_produto' produto.id %}" class="btn btn-warning btn-sm">Editar</a>
          <form method="post" action="{% url 'excluir_produto' produto.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>

<script>
  document.querySelectorAll('form').forEach(form => {
      form.addEventListener('submit', event => {
          if (!confirm('Tem certeza que deseja excluir este produto?')) {
              event.preventDefault(); // Impede o envio do formulário
          }
      });
  });
</script>

{% endblock conteudo %}
